body {
    background-color: ivory;
}

h1 {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-family: "sedgwick", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

#description {
    background-color: none;
    color: brown;
}

.italics {
    font-style: italic;
}

.black {
    color: black;
}

.black-box {
    background-color: brown;
    border-radius: 10px;
    color: white;
}

.bold {
    font-weight: bold;
}

li {
    color: red;
}