body {
    background-color: #faf3eb;
}

h1 {
    font-size: 40px;
}

#title {
    margin-bottom: -40px;
    text-align: center;

    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.black-box {
    margin: auto;
    height: 125px;
    width: 635px;

    border-radius: 10px;
    background-color: #853e3c;
    color: white;
}

.center-height {
    border: solid transparent;
}



#all-items {
    margin: auto;
    width: 600px;
    margin-top: -10px;
    position: relative;
    z-index: -1;
    border-radius: 10px;
    border: 5px solid #853e3c;
}

.column {
    display: inline-block;
    padding: 4px;
    width: 290px;
    margin: none;

    background-color: white;
    border-radius: 10px;
}



h2 {
    text-align: center;
    
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #853e3c;
}

#item-name {
    margin-bottom: 25px;
    font-family: "Erica One", serif;
    font-size: 15px;
    color: #853e3c;
}

#caption {
    margin-left: 5%;
    font-family: "Kirang Haerang", serif;
    font-weight: 50;
    font-size: 15px;
    color: #edac66;
}

img {
    margin-left: 1%;
    width: 80%;
}



.italics {
    font-style: italic;
}