body {
    background-color: ivory;
    font-family: "sedgwick", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: brown;
}


#title {
    color: ivory;
    text-align: center;
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -40px;
}

.black-box {
    margin: auto;
    background-color: brown;
    border-radius: 10px;
    color: white;
    height: 125px;
    width: 635px;
}

.center-height{
    border: solid transparent;
}

#all-items{
    margin: auto;
    width: 635px;
    margin-top: -10px;
}

.column{
    display: inline-block;
    width: 46%;
    margin-left: 0.75%;
    border: solid brown;
    border-radius: 10px;
    padding: 1%;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.black {
    color: black;
}

li {
    color: red;
}